# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
server

# Test binary
*.test

# Output of go coverage
*.out

# Database files
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
README.md
*.md
